@import url('https://fonts.googleapis.com/css?family=Quicksand');

.navbar{
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  /* border: 5px solid black; */
}
.logo{
  margin-left: 25%;
  color: #FF9494;
  font-family: Quicksand;
}
.links a{
  display: flex;
  margin-left:200%;
  height:100px;
  width:100px;
  /* border: 5px solid black; */
  justify-content: center;
  align-items: center;
  color:#7F8487 ;
  
}
.blog-preview{
  /* display: flex;
  flex-direction: column; */
  height: 150px;
  width:600px;
  /* border: 5px solid black; */
  margin-bottom: 0.5%;
  margin-left: 25.5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* justify-content: flex-start; */
  
}
.blog-preview h2{
 padding-top: 1.5%;
  color: #FF9494;
}
.blog-preview p{
  color: #7F8487;
}


/* Blog Details */
.blog-details h2 {
  font-size: 20px;
  color:#FF9494;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
  margin-left:25%;
  margin-right:25%;
}
.blog-details button {
  background:#FF9494;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
/* Create a New Blog */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color:#FF9494;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background:#FF9494;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}